

.image-gallery p{
    font-size: 1.5rem;
    margin-top: -50px;
    margin-bottom: 20px;
    color: red;
    font-weight: bolder;
    text-align: center;
}

.gallery-wrapper{
    max-width: 100%;
 
 }

 .gallery-wrapper .gallery{
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     align-items: center;
     box-sizing: border-box;
 }

 .gallery-wrapper .gallery span{
     display: flex;
     width: 100%;
     overflow: hidden;
 }

 .gallery .image{
     padding: 28px;
     width: calc(100% / 4);
     box-sizing: border-box;
 }

 .gallery .image img{
     width: 100%;
     transition: all 0.3s ease-in-out;
 }
 .gallery .image:hover img{
     transform: scale(1.1);
 }


 @media (max-width : 1000px){
     .gallery .image{
     width: calc(100% / 3);
 }
 }

 @media (max-width : 600px){
     .gallery .image{
     padding-bottom: 10px;
     padding-top: 5px;
     width: 100%;
 }
 .image-gallery p{
    margin-top: -20px;
    font-size: 1.2rem;
}
 }



 /* Image slider */

 .preview{
     position: fixed;
     max-width: 700px;
     width: 100%;
     top: 60%;
     left: 50%;
     opacity: 0;
     z-index: 5;
     pointer-events: none;
     transform: translate(-50%,-50%) scale(0.9);
     background-color: antiquewhite;
     padding: 0px 5px 5px 5px;
     border-radius: 3px;
     box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
 }

 .preview.show{
     opacity: 1;
     pointer-events: auto;
     transform: translate(-50%,-50%) scale(1);
     transition: all 0.3s ease-in-out;
 }

 .preview .details{
     display: flex;
     align-items: center;
     padding: 12px 15px 12px 10px;
     justify-content: space-between;
 }
 
 .preview .details .icon{
     color: brown;
     cursor: pointer;
     font-size: 25px;
 }
 .details .title{
     display: flex;
     font-size: 18px;
     font-weight: 400;
 }

 .details .title p{
     margin : 0 5px;
 }

 .details .title p .current-img{
     font-weight: 600;
 }


 .preview .img-box{
     display: flex;
     width: 100%;
     
 }

 .img-box .slide{
     position: absolute;
     top: 50%;
     transform: translateY(-50%);
     font-size: 30px;
     cursor: pointer;
     color: rgb(237, 237, 237);
     width: 60px;
     height: 50px;
     line-height: 50px;
     text-align: center;
     z-index: 4;
 }

 .img-box .slide.prev{
     left: 0px;
 }

 .img-box .slide.next{
     right: 0px;
 }

 .preview .img-box img{
     width: 100%;
     border-radius: 0 0 3px 3px;
 }

 .shadow{
     position: fixed;
     top: 0;
     left: 0;
     height: 100%;
     width: 100%;
     display: none;
     background:rgba(0, 0, 0, 0.3);
 }
